@page "/users/logout"
@inject IAuthService authService
@inject NavigationManager NavManager
<h3>Logout</h3>

@code {
    protected override async Task OnInitializedAsync()
    {
        await authService.Logout();
        NavManager.NavigateTo("/");

    }
}
