<div class="card" style="text-align: left;">
    <div class="card-body" style="text-align: left;">
        <h4 class="card-title" style="text-align: center;">@memeName</h4>
        <h6 class="text-muted card-subtitle mb-2" style="text-align: center;">@memeDesc</h6>
        <div class="col" style="text-align: center;"><img style="padding: 0px;height: 367px;width: 293px;transform: translate(0px);margin-left: 0;" /></div>
        <div class="col" style="text-align: center;"><i class="far fa-hand-point-right" style="text-align: center;"></i><i class="far fa-comment"></i><i class="far fa-star"></i></div>
    </div>
</div>
@code {
    string memeName = "MEME", memeDesc = "Subtitle";
}
