
<div style="position: relative;flex: 0 0 100%;transform: translate3d(0, 0%, 0);transform-origin: center;">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title" style="text-align: center;">@meme.Name</h4>
            <h6 class="text-muted card-subtitle mb-2">@meme.Desc</h6>
            <div class="row" style="text-align: center;transform-origin: center;">
                <div class="col"><img style="min-width: 300px;height: 300px;" href=@meme.ImgURL /></div>
            </div>
            <div class="row" style="text-align: center;padding-left: 0px;border-width: 0px;">
                <div class="col"><p>Created: @meme.Date</p></div>
            </div>
        </div>
    </div>
</div>
@code {
    MemeDTO meme = new MemeDTO();
    public MemeComponent(MemeDTO memeDTO)
    {
        meme = memeDTO;
    }

}
