@page "/Meme"
@page "/"
@inject IMemesService mS
@using MemesPlaceWeb.Component
<PageTitle>@pageTitle</PageTitle>
<div class="col-12 col-lg-10 mx-auto">
    <div class="row">
        <div class="col" style="flex: 1 0 70%;">
            <div class="position-relative" style="display: flex;flex-wrap: wrap;justify-content: flex-end;">
                <div style="position: relative;flex: 0 0 100%;transform: translate3d(0, 0%, 0);transform-origin: center;">
                    @foreach (var item in memes)
                    {
                        <div class="p-4">
                        <MemeComponent meme=item ></MemeComponent>
                        </div>
                    }
                </div>
            </div>
        </div>
        <div class="col"></div>
    </div>
</div>

@code {
    public string pageTitle = "MemesPlace";

    List<MemeDTO> memes=new List<MemeDTO>(); 
    protected override async Task OnInitializedAsync()
    {
        var res =await mS.GetMemes();
        memes=(res.Result.ToList());
        StateHasChanged();
    }
}
